# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp

*.db-shm
*.db-wal
